
body {
  background: #73001e;
  color: #fff;
  font-family: Verdana, serif;
  margin-right:0px;
  margin-left:0px;
  margin-bottom:0px;

}


a:link {
  color: #73001e;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: #73001e;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #73001e;
  font-weight: bold;
  text-decoration: underline;
}

a:active {
  color: #73001e;
  font-weight: bold;
  text-decoration: underline;
}

.page-heading,
a.main_link {
  color: #fff;
}

.head {
  text-align: center;
}

.container {
  text-align: center;
}

.main {
  background-color: #fff;
  background-image: url('./img/noherzkleindeko.gif');
  background-repeat: repeat-x;
  background-position: bottom;
  color: #73001e;
  margin: 50px auto 10px;

  padding: 10px;
  padding-bottom: 40px;
  width:70%;
}

.navi {
  background-color: #fff;
  padding: 15px;
}

.navi li {
  display: inline-block;
  margin-right: 10px;
}
